{% extends "index.html" %}
{% load custom_markdown %}

{% block content %}


        {% for blog in blog_list %}


            <h2 ><a style="color: black" href="/blog/{{ blog.id }}">{{ blog.title }}</a></h2>
            <p>{{ blog.timestamp }}</p>
            <div style="position: relative">
                <p style="size: 10px;color: darkslategray">{{ blog.summary }}</p>
                <img src="http://p6jdvekbc.bkt.clouddn.com/mushroom.png" style="position:absolute;right:0;bottom:0;width: 20px;height: 20px;">
            </div>
            <hr style="height:1px;border:none;border-top:1px solid #555555; "/>
        {% endfor %}


{% endblock %}